.App {
	text-align: center;
}
h1 {
	font-size: 3.5rem;
	font-weight: 600;
	color: #333;
}
h2 {
	color: yellowgreen;
	font-size: 5rem;
}
button {
	width: 5rem;
	padding: 0.5rem 0;
	border: 0;
	background-color: #444;
	font-size: 1.125rem;
	color: aliceblue;
	transition: 0.2s;
}
button:not(:last-of-type) {
	margin-right: 1rem;
}
button:hover {
	opacity: 0.8;
}
.highNo {
	color: lightseagreen;
}
.zeroNo {
	color: orange;
}
.lowNo {
	color: orangered;
}
